# Copy this file to local.mk and change compilation settings
# according to your compiler and BLAS/LAPACK libraries.

# the Fortran compiler
FC := gfortran

# the compiler options
FFLAGS := -Wall -g -fcheck=all
#FFLAGS := -O2

# the compiler flag that specifies where .mod files are put
MODFLAG := -J

# the linking options
LDFLAGS :=

# the libraries (BLAS/LAPACK or compatible)
LIBS := -llapack -lblas

# vim: set ts=8 noexpandtab syntax=make:
